---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="About Us">
  <Header title="About Us" />
  <main>
    <section class="intro">
      <h2>About AACB</h2>
      <p>Information about the Annapolis Area Community Boating.</p>
    </section>

    <section class="staff">
      <h3>Staff</h3>
      <ul>
        <li>Staff Member 1</li>
        <li>Staff Member 2</li>
      </ul>
    </section>

    <section class="partners">
      <h3>Partners</h3>
      <ul>
        <li>Partner 1</li>
        <li>Partner 2</li>
      </ul>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
