---
import config from '../../config.json';

const { aacbLogoUrl } = config;
---

<header>
  <a href="/">
    <img src="/logo.jpg" alt="AACB Logo" class="logo" />
  </a>
  <nav>
    <a href="/programs">Programs</a>
    <a href="/courses">Courses</a>
    <a href="/events">Events</a>
    <a href="/contact">Contact</a>
    <a href="/donate">Donate</a>
    <a href="/volunteer">Volunteer</a>
    <a href="/about">About</a>
    <a href="/careers">Careers</a>
    <a href="/faq">FAQ</a>
    <a href="/interscholastic-sailing">Interscholastic Sailing</a>
  </nav>
</header>

<style>
  header {
    background-color: #f0f0f0;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    height: 50px;
  }

  nav a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
  }
</style>
