---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="AACB Interscholastic Sailing">
  <Header title="AACB Interscholastic Sailing" />
  <main>
    <section class="intro">
      <h2>Interscholastic Sailing Program</h2>
      <p>Overview of the interscholastic sailing program in Annapolis.</p>
      <p>Support provided by AACB for local teams.</p>
    </section>

    <section class="get-involved">
      <h3>How to Get Involved</h3>
      <p>Information on clubs, teams, and volunteer coaching opportunities.</p>
    </section>

    <section class="upcoming-events">
      <h3>Upcoming Regattas and Events</h3>
      <p>List of upcoming regattas and events for local high school teams.</p>
    </section>

    <section class="partners-sponsors">
      <h3>Partners and Sponsors</h3>
      <p>Schools, local businesses, and organizations that support the interscholastic sailing programs.</p>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
