---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import * as fs from 'node:fs';

const config = JSON.parse(fs.readFileSync('./config.json').toString());
const events = config.events;
---

<Layout title="AACB Events">
  <Header title="AACB Events" />
  <main>
    <section class="intro">
      <h2>Upcoming Events</h2>
      <p>Check out our calendar of events for training sessions, safety seminars, races, and social meet-ups.</p>
    </section>

    <section class="calendar">
      <!-- Elfsight Event Calendar | Untitled Event Calendar -->
      <script src="https://static.elfsight.com/platform/platform.js" async></script>
      <div class="elfsight-app-5caf3d53-add3-43f8-a975-c9a0cdf7b00f" data-elfsight-app-lazy></div>
    </section>

    <section class="event-list">
      <h3>Events</h3>
      <ul>
        {events.map((event) => (
          <li>
            <h4>{event.name}</h4>
            <p>Date: {event.date}</p>
            <p>Time: {event.time}</p>
          </li>
        ))}
      </ul>
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
