---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import * as fs from 'node:fs';
import EventCalendarComponent from './EventCalendarComponent';

const config = JSON.parse(fs.readFileSync('./config.json').toString());
const events = config.events;
---

<Layout title="AACB Events">
  <Header title="AACB Events" />
  <main>
    <section class="intro">
      <h2>Upcoming Events</h2>
      <p>Check out our events for training sessions, safety seminars, races, and social meet-ups.</p>
    </section>

    <section class="event-calendar">
      <h3>Calendar</h3>
      <EventCalendarComponent client:load />
    </section>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: black;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
